<!--<footer class="bg-dark py-3 mt-0">
  <div class="container text-light text-center" style="align-items: center;">
    <p class="display-6">MobWebDev Project from <a href="">Moeez</a> and <a href="">Abeer</a> </p>
    <small class="text-white-50">Github repository for project <a href="">here</a></small>
  </div>
</footer>-->
<footer>
  <div class="footer-content">
    <span class="footer-names">By Ahmad A. Ahsan & Moeez M. Ahsan</span>
    <span class="footer-links">
      <img
        src="./assets/github.png"
        alt="My Github profile"
        class="gitIcon"
        (click)="goToGithub()"
      />
      <a class="gitlink" (click)="goToGithub()">Github Repo</a></span>
  </div>
</footer>
