.searchpanel{
    height:fit-content;
    width: 100%;
    background-color:var(--back) ;
    transition: 0.1s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    font-family:monospace, Arial, Helvetica, sans-serif ;
}

.h4{
    font-size: calc(15px + 1vh);
    color: var(--text);
}

.searchControls{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.searchControls form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
  border: solid 1px aliceblue;
  background-color: var(--spinput);
  padding: 10px;
  border-radius: 8px;
  margin-left: 4px;
  /*display: inline-block;*/
  width: 30vw;
  color: var(--spcolor);
  font-family: Poppins;
  outline: var(--spoutline);
  font-size: calc(10px + 1vh);
  transition: 0.1s ease-out;
}

.addGroupBtn{
     background-color:var(--akzent);
}

.results{
    min-height: fit-content;
    max-height: 60vh;
    overflow-y: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

@media screen and (max-aspect-ratio: 14/10)  {
    .searchpanel{
        text-align: center;
        transition: 0.1s ease-out;
    }
    input[type="text"] {
        width: 70vw;
        transition: 0.1s ease-out;
        text-align: center;
    }
        .searchControls{
        min-height: fit-content;
        flex-direction: column;
        justify-content: space-between;
    }
}

/*dialog styles*/
.background{
    background-color:rgb(38, 38, 38);
    padding: 20px;
}