:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family:monospace, Arial, Helvetica, sans-serif ;
}

.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.hero-content {
  flex: 1;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--text);
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: var(--text);
  }

  a {
    font-size: 1rem;
  }
}

.hero-image {
  flex: 1;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.feature {
  text-align: center;
  padding: 2rem;
  background-color: var(--backhover);
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  mat-icon {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    color: #3f51b5;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text);
  }

  p {
    font-size: 1rem;
    color: var(--text);
  }
}

.collab-panel {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  background-color: var(--backhover);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.collab-content {
  flex: 1;
  padding: 3rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text);
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: var(--text);
  }

  a {
    font-size: 1rem;
  }
}

.collab-image {
  flex: 1;
  max-width: 50%;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


