<div class="panel">
        <div class="panelheadings">
            <p class="h1">Write, Save n Share</p>
            <p class="h4">Make your Collaborative Notes now!</p>
        </div>
    
        <!--<button routerLink="/editor" type="button" class="new">
            <span>Los gehts!</span>
        </button>-->

        <!--<a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>-->

        <a class="addBtn" mat-fab extended routerLink="/editor">
          <mat-icon >add_box</mat-icon>
          Let's Go
        </a>
      
    </div>
