<section *ngIf="(group.groupName | filterText: searchVal) | isVisible">
    <div class="groupHeading">

        <h2>{{group.groupName}}</h2>

        <button mat-icon-button [matMenuTriggerFor]="groupmenu" aria-label="icon-button with a menu" matTooltip="Collaborate with other Users on this file">
        <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="btnback" #groupmenu="matMenu">
            <button (click)="openFileToGroupDialog()" mat-menu-item>
                <mat-icon style="color: snow;" >add_box</mat-icon>
                <span class="item">Add new File</span>
            </button>
            <button mat-menu-item (click)="openMemberDialog()">
                <mat-icon style="color: snow">person_add</mat-icon>
                <span class="item">Add new Member</span>
            </button>
        </mat-menu>

    </div>


    <div class="group-results">
        <app-home-files *ngFor="let x of group.serverFileIds"
            [server_file_id]="x"
            [fileLocation]="collabedFileLocation"
        ></app-home-files>

    </div>

    

    
</section>
