mat-toolbar {
  justify-content: space-between;
  padding: 0 2rem;
  background: linear-gradient(90deg, var(--nav) 0%, var(--primary) 100%);
  
  

  .control {
    display: flex;
    align-items: center;
    justify-content: center;;
  }

  .add{
    margin-right: 10px;
  }

  app-auth-button{
    margin-left: 10px;
    
  }


  .home-link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;  /* Align items vertically (if needed) */
    justify-content: flex-start;  /* Align items horizontally, adjust as necessary */
    gap: 10px;  /* Optional: Add space between the button and the span */
  }

  .home-link:hover {
    text-decoration: none;
  }
  .home-icon{
    background-color:var(--primary);
    color: var(--navtext);
  }
  .home-text{
    color: var(--text);
  }

  .add{
     background-color:var(--nav);
    color: var(--navtext);
  }

}

@media screen and (max-aspect-ratio: 14/10)  {
  .home-text{
    display: none;
  }

}
