mat-toolbar {
  justify-content: space-between;
  padding: 0 2rem;
  color: var(--nav);
  background-color: var(--navback);

  .control {
    display: flex;
    align-items: center;
    justify-content: center;;
  }

  .add{
    margin-right: 10px;
  }

  app-auth-button{
    margin-left: 10px;
  }

  mat-icon{
    color: var(--nav);
  }

  .home-link {
    cursor: pointer;
    text-decoration: none;
  }

  .home-link:hover {
    text-decoration: none;
  }
  .home-icon{
     background-color:var(--akzent);
     color: snow;
  }

  .add{
     background-color:var(--akzent);
     color: snow;
  }

}

@media screen and (max-aspect-ratio: 14/10)  {
  .home-text{
    display: none;
  }

}
