<mat-toolbar>

    <div class="home-link">
        <button mat-icon-button class="home-icon" [routerLink]="['/home']">
            <mat-icon class="home-icon">home_app_logo</mat-icon>
        </button>
        <span class="home-text" [routerLink]="['/home']"> Collaborative Notes</span>
    </div>

   

    <div class="control">

        <button a [routerLink]="['/editor/']" mat-icon-button class="add" >
            <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button (click)="toggleTheme()" class="add">
            @if (isDarmode()){
                <mat-icon>bedtime</mat-icon>
            } @else {
                <mat-icon>brightness_5</mat-icon>
            }
        </button>
        
        <app-auth-button></app-auth-button>
    </div>

    

</mat-toolbar>
