<mat-toolbar>

  <button mat-button (click)="saveBtn()" matTooltip="Save file">
    <mat-icon class="icon">save</mat-icon>
    <p class="label">Save</p>
  </button>
  <button class="open" mat-button (click)="openBtn()" matTooltip="Open a file from saved files">
    <mat-icon>folder</mat-icon>
    <p>Open</p>
  </button>
  <button mat-button (click)="resetActiveFile()" [routerLink]="['/editor/']" matTooltip="Create a new File">
    <mat-icon>add_box</mat-icon>
    <p>Add New</p>
  </button>
  <button mat-button (click)="downloadBtn()" matTooltip="Download File to Computer">
    <mat-icon>cloud_download</mat-icon>
    <p>Download</p>
  </button>
  <button mat-button (click)="uploadBtn()" matTooltip="Upload File from Computer">
    <mat-icon>cloud_upload</mat-icon>
    <p>Upload</p></button>
  <button mat-button (click)="shareBtn()" matTooltip="Share link with others">
    <mat-icon>share</mat-icon>
    <p>Share</p>
  </button>


<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu" matTooltip="Menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu class="vert_menu" #menu="matMenu" >
<button mat-menu-item routerLink="" >
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
<button mat-menu-item (click)="changeTheme()">
  <mat-icon>contrast</mat-icon>
  <span>Change Theme</span>
</button>
<button mat-menu-item (click)="manageAccount()">
  <mat-icon>account_circle</mat-icon>
  <span>Account</span>
</button>
<button mat-menu-item (click)="helpBtn()">
  <mat-icon>help</mat-icon>
  <span>Info</span>
</button>
</mat-menu>

</mat-toolbar>


