* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
mat-toolbar{
  justify-content: space-between;
  background-color: var(--akzent);
  padding-left: 20px;
  padding-right: 20px;
}

button p{
  color: var(--navtext);
}
mat-icon{
  color: var(--navtext);
}

::ng-deep .mat-mdc-menu-panel.vert_menu{
  background-color: var(--akzent) !important;
}
::ng-deep .mat-mdc-menu-panel.vert_menu .mat-mdc-menu-item {
  color: var(--menutext) !important;
}
::ng-deep .mat-mdc-menu-panel.vert_menu .mat-mdc-menu-item .mat-icon{
  color: var(--menutext) !important;
}

@media screen and (max-width: 1000px) , (max-aspect-ratio: 16/9) {
  mat-toolbar p{
    display: none;
  } 
  mat-toolbar{
      padding-left: 0px;
      padding-right: 0px;
  } 
}
  .open{
    display: none;
  }
@media screen and (max-aspect-ratio: 14/10)  {
  .open{
    display:flex;
     box-sizing: border-box;
  }
}

