

<body>

      <app-slide 
        (openFile)="openBottomSheet()"
        (save)="saveBtn()"
        (downloadFile)="onDownload()"
        (uploadFile)="uploadFile()">
      </app-slide>


      <div class="branchAndFile">
        <div class="branch">
          <app-personalBranch></app-personalBranch>
        </div>

        <div class="main">
          <div class="main-container">
            <div class="header">
              <input
                type="text"
                class="txtHeader"
                id="txtHeader"
                placeholder="Enter title here"
                (keyup)="activityTrue();"
                [(ngModel)]="fileStorageService.activeFile.fileName"
              />
              &nbsp;
            </div>
              
            <file [id]="id" class="content "></file>
            <br>

          </div>
        </div>
      </div>
        

<input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />

</body>

