

<body>
  <!--<app-nav-editor></app-nav-editor>-->
  <!--<app-nav-editor2></app-nav-editor2>-->

      <app-slide 
        (openFile)="openBottomSheet()"
        (save)="saveBtn()"
        (downloadFile)="onDownload()"
        (uploadFile)="uploadFile()">
      </app-slide>

      <div class="branchAndFile">
        <div class="branch">
          <!--<app-treetable [personal_server_file_ids]="['6682a3365fd2fdc459995a1a']"></app-treetable>-->
          <app-personalBranch></app-personalBranch>
        </div>

        <div class="main">
          <div class="main-container">
            <div class="header">
              <input
                type="text"
                class="txtHeader"
                id="txtHeader"
                placeholder="Enter title here"
                (keyup)="activityTrue();"
                [(ngModel)]="fileStorageService.activeFile.fileName"
              />
              &nbsp;
            </div>

            <file [id]="id" class="content "></file>
            <br>

          </div>
        </div>
      </div>
        

<input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />

<div class="overlay" *ngIf="openPanel" (click)="closePopup($event)">
  <app-open (click)="$event.stopPropagation()" ></app-open>
</div>
  

      
 
</body>

