/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");




* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

:root{
    font-family: Poppins, Arial, Helvetica, sans-serif;

    -ms-overflow-style: none;  
    scrollbar-width: none;

  --akzent:#1B2A41;
  --akzentfiles:rgb(23, 24, 59,0.5);
  --akzento:#e8485562;
  --akzenth:#EE5D5C;
  
  --menutext:white; 
  
  --footer1: #101010;
  --footer2: #101010;
  --footer3: #101010;

  --primary: #ff4081;
  --secondary: #40FFBE;

  margin: 0px;
  padding: 0%;
  box-sizing: border-box;

  .mat-bottom-sheet-container {
    background: var(--akzent) !important;
      -ms-overflow-style: none; 
     -ms-overflow-style: none;  
    scrollbar-width: none;
  }

}

.lightmode{
  
  --back:snow;
  --backhover:#E6E6EA;
  --text:#040f0f;
  --menuback: #fcfffc;
  --menuhover:  #afb6b4;
  --menushadow: rgba(0, 0, 0, 0.5);
  --button: #afb6b4;
  --buttonshadow: rgba(50, 30, 30, 0.3);
  --spbackground:#f8f8f8;
  --spinput:rgb(0,0,0,0.1);
  --spcolor:black;
  --spoutline: black;
  --btntext:white; 

  --navtext:white; 
  --nav:#3f51b5;
  --navback:#E6E6EA;
  --file: #ff5d6e;  
}
.darkmode{
  --back: #000000;
  --backhover: var(--spbackground);
  --text: #ccc9dc;
  --menuback: #001b2e;
  --menuhover:  #153447;
  --menushadow: rgba(0, 0, 0, 0.5);
  --button: #294c60;
  --buttonshadow: rgba(41, 76, 96, 0.4);
  --spbackground:#0D0C1D;
  --spinput:rgb(255,255,255,0.1);
  --spcolor:aliceblue;
  --spoutline: white;
  --btntext:pink; 

  --navtext:white; 
  --nav:#3f51b5;
  --navback:#0D0C1D;

  --file: #802e36;  
}

body {
  min-height: 100vh;
}
