.listing{
  background-color: var(--spinput);
  opacity: 80%;
  color: var(--text);
  border-radius: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  
  border: solid;
  border-width: 1px;
  border-color: aliceblue;
}
.file-heading{
  padding: 10px 25px 0 15px;
  white-space: nowrap;
  
}

.link {
text-decoration: none;
}
.file-link::after {
/*content: "\203A";*/
margin-left: 5px;
}
.file-date{
padding-left: 20px;
color: bisque;
text-decoration: none;
font-style: italic;
font-weight: 500;
}